      <div class="features section-padding">
        <div class="container">

          <div class="header">
            <h1>Technologies</h1>
            <div class="underline">
              <i class="fa fa-user"></i>
            </div>
          </div> <!-- end .container> .header -->

          <div class="row">
            <div class="col-md-12 feature-list">
              <div class="row">

                <div class="col-sm-3 col-md-3">
                  <div class="featured-item">
				  <img src="app/technology/images/aws.png">
                  </div> <!-- end .featured-item -->
                </div> <!-- end .feature-list> .row > .col-md-6 (1st item) -->


                <div class="col-sm-3 col-md-3">
                  <div class="featured-item">
				  <img src="app/technology/images/mesos.png">
                  </div> <!-- end .featured-item -->
                </div> <!-- end .feature-list> .row > .col-md-6 (1st item) -->
				
				<div class="col-sm-3 col-md-3">
                  <div class="featured-item">
				  <img src="app/technology/images/docker.png">
                  </div> <!-- end .featured-item -->
                </div> <!-- end .feature-list> .row > .col-md-6 (1st item) -->
				
                <div class="col-sm-3 col-md-3">
                  <div class="featured-item">
				  <img src="app/technology/images/hadoop.png">
                  </div> <!-- end .featured-item -->
                </div> <!-- end .feature-list> .row > .col-md-6 (1st item) -->
				
			  </div>
			  
              <div class="row">

                <div class="col-sm-3 col-md-3">
                  <div class="featured-item">
				  <img src="app/technology/images/nodejs.png">
                  </div> <!-- end .featured-item -->
                </div> <!-- end .feature-list> .row > .col-md-6 (1st item) -->
				
                <div class="col-sm-3 col-md-3">
                  <div class="featured-item">
				  <img src="app/technology/images/angularjs2.png">
                  </div> <!-- end .featured-item -->
                </div> <!-- end .feature-list> .row > .col-md-6 (1st item) -->

                <div class="col-sm-3 col-md-3">
                  <div class="featured-item">
				  <img src="app/technology/images/flask.png">
                  </div> <!-- end .featured-item -->
                </div> <!-- end .feature-list> .row > .col-md-6 (1st item) -->
				
                <div class="col-sm-3 col-md-3">
                  <div class="featured-item">
				  <img src="app/technology/images/mongodb.png">
                  </div> <!-- end .featured-item -->
                </div> <!-- end .feature-list> .row > .col-md-6 (1st item) -->
              </div> <!-- end .feature-list> .row -->
            </div> <!-- end .feature-list -->
          </div> <!-- end .container> .row -->

        </div> <!-- end .container -->
      </div> <!-- end .features -->
